{% extends "base.html" %}
{% block content %}

<h3>Polls</h3>

<table>
    {% for poll in polls_list %}
    <tr>
        <td class="text-muted" style="font-weight:bold ;"> {{ poll.question }} </td>
        <td><a href="{% url 'vote' poll.pk %}" class="btn btn-sm btn-dark">Vote</a></td>
        <td><a href="{% url 'result' poll.pk %}" class="btn btn-sm btn-dark">View Results</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}