{% extends "base.html" %}
{% block content %}

{% for poll in polls_list %}

<div class="card bg-light mb-3" style="max-width: 25rem;">
    <div class="card-body">
        <h4 class="card-title">{{poll.question}}</h4>
        <p class="card-text">
            {{poll.choice1}} - {{poll.choice1_count}} <br>
            {{poll.choice2}} - {{poll.choice2_count}} <br>
            {{poll.choice3}} - {{poll.choice3_count}} <br>
            <span style="font-weight:bold ;">Total - {{poll.total}}</span>
            <br><br>
            <a class="btn btn-primary btn-sm" href="{% url 'poll_delete' poll.pk %}">Delete Poll</a>
        </p>

    </div>
</div>
{% empty %}
You haven't created any polls yet
{% endfor %}
{% endblock content %}